@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import './colors.css';
@import './utils.css';
@import './navbar.css';
@import './jumbotron.css';
@import './footer.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: calc();
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1440px;
  margin: auto;
}

/* skip link  */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: green;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}


/* main content  */
section .latest {
  background-color: var(--third-color);
  width: 100%;
}

.latest {
  margin-top: -10px;
  width: 100%;
  height: 20vh;
}

.latest h2 {
  text-align: center;
  padding-top: 46px;
  font-size: 32px;
  color: var(--fifth-color);
}

.container-btn {
  color: var(--primary-color);
  border: none;
  text-align: center;
}

.container-btn .btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: var(--third-color);
  width: 100px;
  height: 44px;
}

.container-btn .btn:hover {
  background-color: var(--fifth-color);
  color: var(--white);
}

/* card  */
.container-card {
  display: grid;
  grid-row-gap: 14px;
  overflow: hidden;
}

.card {
  position: relative;
}

.card .card-container {
  border-radius: 5px;
  background-color: var(--fifth-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  width: 90%;
  background: var(--third-color);
  position: relative;
  margin-left: 25px;
  margin-top: 18px;
}

.card .card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-text {
  text-align: justify;
  /* padding: 2px 16px; */
  padding: 16px 32px 32px 32px;
}

.card-img img {
  width: 100%;
  border-radius: 5px;
}


@media screen and (min-width: 900px) {
  .container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    width: 100%;
    padding: 20px;
  }

  .card .card-container {
    border-radius: 1rem;
    width: 100%;
    background: var(--fourth-color);
    border-radius: 1rem;
    position: relative;
    margin-left: 0;
    margin-top: 0;
  }
}

@media (max-width: 920px) {
  nav {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 76px;
    overflow: hidden;
    transition: 1s;
  }

  nav ul {
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
    transition: 1s;
  }

  nav ul li {
    margin-top: 16px;
  }

  nav .icon-toggler {
    display: block;
    cursor: pointer;
  }

  .jumbotron .caption-text {
    width: 80%;
  }

}

@media (max-width: 720px) {
  .latest h2 {
    font-size: 1.6em;
  }

  .card {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .latest h2 {
    font-size: 1.4em;
  }

  footer p {
    font-size: .6em;
  }
}